
@use "@angular/material" as mat;

@include mat.core();


// Define a theme.
$primary: mat.define-palette(mat.$grey-palette, 300);
$accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include all theme styles for the components.
@include mat.all-component-themes($theme);

@include mat.typography-hierarchy($theme);

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 14px;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
